/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444; }

a {
  color: #47b2e4;
  text-decoration: none; }

a:hover {
  color: #73c5eb;
  text-decoration: none; }

*:active {
  outline: none; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 1rem 0;
  margin-top: 2px;
  background-color: #fff; }

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase; }

.main-nav {
  background: rgba(255, 255, 255, 0.747);
  padding: 1rem; }

#header .logo a {
  color: #fff; }

#header .logo img {
  max-height: 5rem; }

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.99)), url("/resource/img/banner_2.jpg");
  background-size: cover;
  background-position: top; }

#hero .container {
  padding-top: 72px; }

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fb6731; }

#hero h2 {
  color: #fb6731;
  margin-bottom: 50px;
  font-size: 24px; }

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #fb6731;
  transition: all .5; }

#hero .btn-get-started:hover {
  background: #696969;
  color: #fff; }

#hero .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1; }

#hero .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px; }

#hero .btn-watch-video:hover i {
  color: #47b2e4; }

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both; }

.title-animation {
  animation-name: moveUp;
  animation-duration: 1s;
  animation-delay: .3s;
  animation-timing-function: ease-in; }

.btn-animation {
  animation: moveUp .7s 1.3s ease;
  animation-fill-mode: backwards; }

#footer {
  font-size: 14px;
  background: #fb6731; }

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #f8f6f6; }

#footer .footer-top .footer-contact {
  margin-bottom: 30px; }

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #696969; }

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e; }

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #696969;
  position: relative;
  padding-bottom: 12px; }

#footer .footer-top .footer-links {
  margin-bottom: 30px; }

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0; }

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1; }

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center; }

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0; }

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1; }

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #fb6731; }

#footer .footer-top .social-links a {
  font-size: 1.1rem;
  display: inline-block;
  background: #696969;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s; }

#footer .footer-top .social-links a:hover {
  background: #fb6731;
  color: #fff;
  text-decoration: none; }

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff; }

#footer .copyright {
  float: left; }

#footer .credits {
  float: right;
  padding-left: .5rem;
  font-size: 13px; }

#footer .credits a {
  transition: 0.3s; }

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px; }
  #footer .copyright, #footer .credits {
    text-align: center;
    float: none; }
  #footer .credits {
    padding-top: 4px; } }

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
    clip-path: none; }
  #hero .animated {
    -webkit-animation: none;
    animation: none; }
  #hero .hero-img {
    text-align: center; }
  #hero .hero-img img {
    width: 50%; }
  .about {
    margin-top: 0 !important;
    padding: 5rem 0 !important; } }

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px; }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px; }
  #hero .hero-img img {
    width: 70%; } }

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%; }
  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px; } }

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px); }
  100% {
    transform: translateY(-10px); } }

@keyframes up-down {
  0% {
    transform: translateY(10px); }
  100% {
    transform: translateY(-10px); } }

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%; }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%; } }

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block; }
  .navbar ul {
    display: none; } }

@media (max-width: 1024px) {
  .why-us .content, .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 992px) {
  .why-us .img {
    min-height: 400px; }
  .why-us .content {
    padding-top: 30px; }
  .why-us .accordion-list {
    padding-bottom: 30px; } }

@media (max-width: 575px) {
  .why-us .img {
    min-height: 200px; } }

@media (max-width: 500px) {
  .form {
    display: flex;
    flex-direction: column; }
  .form .form-details button {
    margin-left: 0; }
  .form .form-details input[type="text"],
  .form .form-details input[type="email"],
  .form .form-details textarea {
    width: 100%;
    margin-left: 0; }
  .form .form-details input[type="text"] {
    margin-bottom: 0px; } }

@media (min-width: 501px) and (max-width: 768px) {
  .form {
    display: flex;
    flex-direction: column; }
  .form .form-details button {
    margin-left: 0; }
  .form .form-details input[type="text"],
  .form .form-details input[type="email"],
  .form .form-details textarea {
    width: 100%;
    margin-left: 0; }
  .form .form-details input[type="text"] {
    margin-bottom: 0px; } }

.about {
  padding: 4rem 0;
  background-color: #f8f6f6; }

.products {
  padding: 4rem 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", sans-serif; }

.secondary-heading,
.heading-third {
  text-transform: uppercase; }

.secondary-heading {
  font-size: 2.8rem;
  text-align: center; }

.heading-third {
  font-size: 1.8rem;
  color: #696969; }

.heading-four {
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
  line-height: 1.5; }

.about-box__content {
  margin-top: 2.5rem;
  margin-bottom: 1rem; }

.about-box__button {
  margin-top: 2rem; }

.about-box__highlights {
  margin: 2rem 0; }

.about-box__highlight {
  font-weight: 400;
  text-transform: capitalize; }
  .about-box__highlight--icon {
    display: inline-block;
    margin-right: 1rem;
    margin-top: .5rem;
    color: #fb6731; }
  .about-box__highlight--text {
    display: inline-block; }

.sec-title {
  margin-top: 4rem; }

.about-image-box {
  text-align: right; }
  .about-image-box__img {
    width: auto;
    height: 25rem;
    margin-top: 3rem;
    transition: transform .3s; }
    .about-image-box__img:hover {
      transform: scale(1.1); }

.icon {
  font-size: 1.6rem; }

.button:link,
.button:visited {
  padding: .6rem 1.5rem;
  text-transform: capitalize;
  color: #696969;
  border-radius: 100px;
  border: 2px solid #fb6731;
  background-color: transparent;
  transition: all .3s;
  overflow: hidden; }
  .button:link:hover, .button:link:active,
  .button:visited:hover,
  .button:visited:active {
    background-color: #444444;
    border: 2px solid transparent;
    color: #fff; }

.margin-top-big {
  margin-top: 7rem; }

.margin-top-medium {
  margin-top: 4rem; }

.product-caption {
  margin-top: 4rem; }

.why-us {
  background-image: linear-gradient(to right, rgba(251, 103, 49, 0.7), rgba(251, 103, 49, 0.7)), url("/resource/img/products-bg.jpg");
  background-size: cover;
  background-position: top;
  height: auto; }

.why-us .content {
  padding: 60px 100px 0 100px; }

.why-us .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: #fff;
  text-transform: capitalize; }

.why-us .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px; }

.why-us .content p {
  font-size: 15px;
  color: #848484; }

.why-us .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50vh; }

.why-us .accordion-list {
  padding: 0 100px 60px 100px;
  margin-top: 2rem; }

.why-us .accordion-list ul {
  padding: 0;
  list-style: none; }

.why-us .accordion-list li + li {
  margin-top: 15px; }

.why-us .accordion-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px; }

.why-us .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 30px;
  outline: none;
  cursor: pointer; }

.why-us .accordion-list span {
  color: #fb6731;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px; }

.why-us .accordion-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0; }

.why-us .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0; }

.why-us .accordion-list .icon-show {
  display: none; }

.why-us .accordion-list a.collapsed {
  color: #343a40; }

.why-us .accordion-list a.collapsed:hover {
  color: #fb6731; }

.why-us .accordion-list a.collapsed .icon-show {
  display: inline-block; }

.why-us .accordion-list a.collapsed .icon-close {
  display: none; }

.products__slider-box {
  margin-top: 2rem; }
  .products__slider-box__shape {
    position: relative; }
  .products__slider-box__img {
    height: 16rem;
    width: auto;
    transition: all .3s; }
    .products__slider-box__img:hover {
      transform: scale(1.1); }
  .products__slider-box__icon {
    background-color: #fb6731; }

.brand {
  width: 100px;
  height: 100px;
  animation: scroll 60s linear infinite; }

.slide-track {
  width: 100%;
  display: flex;
  gap: 3em;
  overflow: hidden; }

.brands {
  margin: 4rem 0; }

@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translatex(-1000%); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(20rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.product-box {
  position: relative; }
  .product-box:hover .product-box__viewButton {
    opacity: 1;
    bottom: 20%;
    transition: all .4s ease-in; }
  .product-box:hover .product-box__card-title {
    opacity: 1;
    bottom: 40%;
    transition: all .4s ease-in; }
  .product-box__card-title {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; }
  .product-box__viewButton {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; }

.product-gallery {
  margin: 4rem 0; }
  .product-gallery:not(:last-child) {
    margin-bottom: 2rem; }
  .product-gallery .secondary-heading {
    margin: 3rem 0; }
  .product-gallery .product-img {
    transform: scale(1);
    transition: all .3s;
    filter: none; }
    .product-gallery .product-img:hover {
      transform: scale(1.05);
      filter: blur(3px) brightness(80%); }
  .product-gallery .paragraph {
    text-align: center;
    margin-bottom: 3rem; }

/*--------------------------------------------------------------
# Portfolio Section
--------------------------------------------------------------*/
.portfolio {
  margin: rem 0; }

.portfolio .portfolio-flters {
  padding: 0;
  margin: 0 auto 30px auto;
  list-style: none;
  text-align: center; }

.portfolio .portfolio-flters li {
  color: var(--color-secondary);
  cursor: pointer;
  display: inline-block;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  margin: 0 10px;
  line-height: 1;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out; }

.portfolio .portfolio-flters li:first-child {
  margin-left: 0; }

.portfolio .portfolio-flters li:last-child {
  margin-right: 0; }

@media (max-width: 575px) {
  .portfolio .portfolio-flters li {
    font-size: 14px;
    margin: 0 5px; } }

.portfolio .portfolio-item {
  position: relative; }

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px; }

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-default);
  padding-right: 50px; }

.portfolio .portfolio-item .portfolio-info p {
  color: #6c757d;
  font-size: 14px;
  margin-bottom: 0;
  padding-right: 50px; }

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 50px;
  font-size: 24px;
  top: calc(50% - 14px);
  color: rgba(27, 47, 69, 0.7);
  transition: 0.3s;
  line-height: 0; }

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: var(--color-primary); }

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 14px;
  font-size: 28px; }

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px; }

/*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
.portfolio-details .portfolio-details-slider img {
  width: 100%; }

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative; }

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--color-primary); }

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-primary); }

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(27, 47, 69, 0.1); }

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d6e2ef; }

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px; }

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px; }

.portfolio-details .portfolio-description {
  padding-top: 30px; }

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--color-secondary); }

.portfolio-details .portfolio-description p {
  padding: 0; }

.product {
  text-align: center; }
  .product__img {
    transition: all .3s;
    filter: blur(3px) brightness(80%); }
    .product__img:hover {
      cursor: pointer;
      filter: blur(0) brightness(80%); }

.product-box {
  height: auto;
  width: 80%;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0px 0 2rem rgba(55, 81, 126, 0.08);
  padding: 2rem; }
  .product-box__caption {
    text-transform: uppercase;
    color: #696969;
    position: relative; }
    .product-box__caption::after {
      position: absolute;
      top: .4rem;
      left: -1rem;
      content: "";
      display: block;
      width: .4rem;
      height: 1.6rem;
      background-color: #fb6731; }
  .product-box__desc {
    text-transform: capitalize;
    font-size: 1rem; }

.contact {
  margin-top: 45px; }

.form {
  display: flex;
  justify-content: space-between;
  margin: 80px 0; }

.form .form-txt {
  flex-basis: 48%; }

.form .form-txt h1 {
  font-weight: 600;
  color: var(--black);
  font-size: 40px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  color: var(--light-black); }

.form .form-txt span {
  color: var(--light-black);
  font-size: 14px; }

.form .form-txt h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 15px 0;
  color: var(--light-black); }

.form .form-txt p {
  color: var(--light-black);
  font-size: 14px; }

.form .form-details {
  flex-basis: 48%; }

.form .form-details input[type="text"],
.form .form-details input[type="email"] {
  padding: 15px 20px;
  color: var(--black);
  outline: none;
  border: 1px solid #e9e9e9;
  margin: 35px 15px;
  font-size: 14px; }

.form .form-details textarea {
  padding: 15px 20px;
  margin: 0 15px;
  color: var(--black);
  outline: none;
  border: 1px solid #e9e9e9;
  font-size: 14px;
  resize: none; }

.form .form-details button {
  padding: .6rem 1.5rem;
  text-transform: capitalize;
  color: #696969;
  border: 2px solid #fb6731;
  background-color: transparent;
  transition: all .3s;
  overflow: hidden;
  margin: 1.5rem;
  border-radius: 4rem; }
  .form .form-details button:hover, .form .form-details button:active {
    background-color: #444444;
    border: 2px solid transparent;
    color: #fff; }

/**
* Desktop Navigation 
*/
.navbar {
  padding: 0; }

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center; }

.navbar li {
  position: relative; }

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fb6731;
  white-space: nowrap;
  transition: 0.3s;
  border-bottom: 2px solid transparent; }

.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px; }

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #696969; }

.navbar .getstarted {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #47b2e4;
  font-weight: 600; }

.navbar .getstarted:hover {
  color: #fff;
  background: #31a9e1; }

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px; }

.navbar .dropdown ul li {
  min-width: 200px; }

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53; }

.navbar .dropdown ul a i {
  font-size: 12px; }

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #696969; }

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible; }

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden; }

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible; }

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%; }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%; } }

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
  color: #696969;
  font-size: 2.8rem;
  cursor: pointer;
  display: none;
  line-height: 0;
  margin-right: 1rem;
  transition: 0.5s; }

.mobile-nav-toggle.bi-x {
  color: #fff; }

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block; }
  .navbar ul {
    display: none; } }

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(251, 103, 49, 0.9);
  transition: 0.3s;
  z-index: 999; }

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px; }

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s; }

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #fb6731; }

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #696969; }

.navbar-mobile .getstarted {
  margin: 15px;
  color: #37517e; }

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25); }

.navbar-mobile .dropdown ul li {
  min-width: 200px; }

.navbar-mobile .dropdown ul a {
  padding: 10px 20px; }

.navbar-mobile .dropdown ul a i {
  font-size: 12px; }

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #47b2e4; }

.navbar-mobile .dropdown > .dropdown-active {
  display: block; }

.sticky-nav {
  background-color: #fff;
  border-bottom: 3px solid rgba(105, 105, 105, 0.4); }

.career-box {
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0px 0.5rem 2rem rgba(41, 65, 106, 0.08);
  height: auto;
  padding: 1rem; }
  .career-box__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    position: relative;
    padding-left: 1rem; }
    .career-box__title::before {
      content: '';
      display: block;
      width: .4rem;
      height: 1.2rem;
      background-color: red;
      position: absolute;
      top: .3rem;
      left: 0; }
  .career-box__description {
    margin-top: 2rem; }
  .career-box__icon {
    font-size: 4rem; }
  .career-box__submit {
    margin: 2rem 0; }

.career {
  margin: 4rem 0; }

.sec-title h2 {
  position: relative;
  display: block;
  font-size: 40px;
  line-height: 1.28em;
  color: #222222;
  font-weight: 600;
  padding-bottom: 18px; }

.sec-title h2:before {
  position: absolute;
  content: '';
  left: 0px;
  bottom: 0px;
  width: 50px;
  height: 3px;
  background-color: #fb6731; }

.btn-style-one {
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  padding: .7rem 2.6rem;
  font-weight: 600;
  overflow: hidden;
  letter-spacing: 0.02em;
  background-color: #00aeef; }

.btn-style-one:hover {
  background-color: #0794c9;
  color: #ffffff; }

.about-section {
  position: relative;
  padding: 8rem 0; }

.about-section .sec-title {
  margin-bottom: 3rem; }

.about-section .content-column {
  position: relative;
  margin-bottom: 4rem; }

.about-section .text {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 26px;
  color: #848484;
  font-weight: 400; }

.about-section .list-style-one {
  margin-bottom: 3rem; }

.about-section .btn-box {
  position: relative; }

.contact-us {
  color: #fb6731;
  padding: 0 !important; }

.about-section .btn-box a {
  padding: .5rem 1rem; }

.image-1 {
  margin-top: 8rem;
  text-align: center; }

.about-section .image-1 img {
  box-shadow: 0 0.2rem 2.4rem 0.3rem rgba(8, 13, 62, 0.15);
  border-radius: 3.5rem;
  height: 25rem; }

.vision-box {
  box-shadow: 0px 0 2rem rgba(55, 81, 126, 0.08);
  padding: 3rem; }
  .vision-box__text {
    margin-top: 2rem; }
  .vision-box__caption {
    color: #696969; }
  .vision-box .paragraph {
    color: #696969; }

.vision {
  padding: 4rem 0;
  background-color: #efefef; }

.breadcrumbs {
  padding: 140px 0 60px 0;
  min-height: 30vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.breadcrumbs:before {
  content: "";
  background-color: #fb6731;
  background-image: linear-gradient(to right, rgba(251, 103, 49, 0.7), #c74a1c), url(/resource//img/breadcamb.jpg);
  background-size: cover;
  background-position: top;
  position: absolute;
  inset: 0; }

.breadcrumbs h2 {
  font-size: 56px;
  font-weight: 500;
  color: #fff; }

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff; }

.breadcrumbs ol a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s; }

.breadcrumbs ol a:hover {
  text-decoration: underline; }

.breadcrumbs ol li + li {
  padding-left: 10px; }

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #fff;
  content: "/"; }
