@keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translatex(-1000%)}
  }

  @keyframes moveUp {
    0% {
      opacity: 0;
      transform: translateY(20rem);
    }
    80% {
      transform: translateY(-1rem);
    }
    100%{
      opacity: 1;
      transform: translate(0);
    }
  }
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(20rem);
    }
    80% {
      transform: translateY(-1rem);
    }
    100%{
      opacity: 1;
      transform: translate(0);
    }
  }